In [ ]:
!pip install beautifulsoup4
from bs4 import BeautifulSoup as bs

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
!pip install requests 
import requests
res= requests.get("https://www.grainmart.in/news/covid-19-coronavirus-india-state-and-district-wise-tally/")

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

In [ ]:
soup= bs(res.content)
states_list= soup.find_all('div', class_='skgm-states')

In [ ]:

for states in states_list:
    state= states.find('span',class_='show-district').text
    total_cases= getattr(states.find('div',class_='td-sc'), 'text', None)


    print(f'{state}      {total_cases}')
    
    
    districts_list= states.find_all('div',class_='skgm-tr')
    counter=0
    for districts in districts_list:
      district=districts.find('div',class_='skgm-td').text

      if counter!=0:
        total_cases_districts = getattr(districts.find('div',class_='td-dc'), 'text', None)
        
      counter+=1

Maharashtra      5378452
Karnataka      2203462
Kerala      2147968
Uttar Pradesh      1619645
Tamil Nadu      1598216
Andhra Pradesh      1435491
Delhi      1393867
West Bengal      1133430
Chhattisgarh      912477
Rajasthan      859669
Gujarat      752619
Madhya Pradesh      731385
Haryana      694427
Bihar      651909
Odisha      612224
Telangana      528823
Punjab      497705
Assam      328629
Jharkhand      315502
Uttarakhand      287286
Jammu and Kashmir      244608
Himachal Pradesh      160240
Goa      135856
Puducherry      84506
Chandigarh      55367
Tripura      40813
Manipur      39729
Meghalaya      23332
Arunachal Pradesh      21802
Nagaland      18076
Ladakh      16333
Sikkim      11410
Dadra and Nagar Haveli and Daman and Diu      9653
Mizoram      8679
Andaman and Nicobar Islands      6568
Lakshadweep      4767

In [ ]:
a={}
b={}
new_cases={}
cured={}
new_cured={}
deaths={}
new_deaths={}
active={}

count=0
flag= False
search_state= input("Enter the state : ")

for states in states_list:
  state= states.find('span',class_='show-district').text
  total_cases= getattr(states.find('div',class_='td-sc'), 'text', None)

  if(search_state.lower()==state.lower()):

    print(f'{state}      {total_cases}')
    print('\n')
    flag=True
    
    districts_list= states.find_all('div',class_='skgm-tr')
    counter=0
    for districts in districts_list:
      district=districts.find('div',class_='skgm-td').text

      if counter!=0:
        total_cases_districts = getattr(districts.find('div',class_='td-dc'), 'text', None)
        print(f'{district}      {total_cases_districts}')
        
        a[counter]=district
        b[counter]=total_cases_districts

        new_cases[counter]= getattr(districts.find('div',class_='td-ddc'), 'text', None)
        cured[counter]= getattr(districts.find('div',class_='td-dr'), 'text', None)
        new_cured[counter]= getattr(districts.find('div',class_='td-ddr'), 'text', None)
        active[counter]= getattr(districts.find('div',class_='td-da'), 'text', None)
        deaths[counter]= getattr(districts.find('div',class_='td-dd'), 'text', None)
        new_deaths[counter]= getattr(districts.find('div',class_='td-ddd'), 'text', None)

        if new_cases[counter]== '':
          new_cases[counter]='0'
        
        if new_cured[counter]== '':
          new_cured[counter]='0'

        if new_deaths[counter]== '':
          new_deaths[counter]='0'    
        
        



      counter+=1  
      count=counter


      


  if flag== True:
    break

if flag==False:
  print("Either this state doesn't exist or your spelling is wrong ")

Enter the state : maharashtra
Maharashtra      5378452


Pune      973685
Mumbai      687830
Thane      549403
Nagpur      478734
Nashik      367156
Ahmednagar      223825
Solapur      141128
Aurangabad      139582
Raigad      138999
Satara      135971
Jalgaon      131968
Palghar      107591
Sangli      105425
Kolhapur      90164
Nanded      87967
Latur      84988
Chandrapur      81062
Amravati      78672
Beed      75529
Buldhana      68793
Yavatmal      65209
Bhandara      57564
Jalna      54133
Wardha      53666
Osmanabad      49724
Akola      49602
Parbhani      46942
Dhule      42285
Gondia      38687
Nandurbar      37940
Ratnagiri      36036
Washim      35349
Gadchiroli      26041
Sindhudurg      20163
Hingoli      16493
Other State      146
Mumbai Suburban      0

In [ ]:
new_cases

{1: '5221',
 2: '1535',
 3: '1454',
 4: '1101',
 5: '2112',
 6: '2748',
 7: '3086',
 8: '725',
 9: '801',
 10: '1662',
 11: '702',
 12: '641',
 13: '1473',
 14: '1085',
 15: '215',
 16: '384',
 17: '647',
 18: '1021',
 19: '905',
 20: '671',
 21: '674',
 22: '95',
 23: '295',
 24: '412',
 25: '615',
 26: '518',
 27: '446',
 28: '260',
 29: '123',
 30: '146',
 31: '929',
 32: '870',
 33: '246',
 34: '450',
 35: '121',
 36: '0',
 37: '0'}

In [ ]:
data = {f'Districts in {search_state}': a, ' Total Cases Reported': b}
data

{' Total Cases Reported': {1: '973685',
  2: '687830',
  3: '549403',
  4: '478734',
  5: '367156',
  6: '223825',
  7: '141128',
  8: '139582',
  9: '138999',
  10: '135971',
  11: '131968',
  12: '107591',
  13: '105425',
  14: '90164',
  15: '87967',
  16: '84988',
  17: '81062',
  18: '78672',
  19: '75529',
  20: '68793',
  21: '65209',
  22: '57564',
  23: '54133',
  24: '53666',
  25: '49724',
  26: '49602',
  27: '46942',
  28: '42285',
  29: '38687',
  30: '37940',
  31: '36036',
  32: '35349',
  33: '26041',
  34: '20163',
  35: '16493',
  36: '146',
  37: '0'},
 'Districts in maharashtra': {1: 'Pune',
  2: 'Mumbai',
  3: 'Thane',
  4: 'Nagpur',
  5: 'Nashik',
  6: 'Ahmednagar',
  7: 'Solapur',
  8: 'Aurangabad',
  9: 'Raigad',
  10: 'Satara',
  11: 'Jalgaon',
  12: 'Palghar',
  13: 'Sangli',
  14: 'Kolhapur',
  15: 'Nanded',
  16: 'Latur',
  17: 'Chandrapur',
  18: 'Amravati',
  19: 'Beed',
  20: 'Buldhana',
  21: 'Yavatmal',
  22: 'Bhandara',
  23: 'Jalna',
  24: 'Wardha',
  25: 'Osmanabad',
  26: 'Akola',
  27: 'Parbhani',
  28: 'Dhule',
  29: 'Gondia',
  30: 'Nandurbar',
  31: 'Ratnagiri',
  32: 'Washim',
  33: 'Gadchiroli',
  34: 'Sindhudurg',
  35: 'Hingoli',
  36: 'Other State',
  37: 'Mumbai Suburban'}}

In [ ]:
import pandas as pd
df = pd.DataFrame(data, index = [i for i in range(1,count)])
df

   Districts in maharashtra  Total Cases Reported
1                      Pune                973685
2                    Mumbai                687830
3                     Thane                549403
4                    Nagpur                478734
5                    Nashik                367156
6                Ahmednagar                223825
7                   Solapur                141128
8                Aurangabad                139582
9                    Raigad                138999
10                   Satara                135971
11                  Jalgaon                131968
12                  Palghar                107591
13                   Sangli                105425
14                 Kolhapur                 90164
15                   Nanded                 87967
16                    Latur                 84988
17               Chandrapur                 81062
18                 Amravati                 78672
19                     Beed                 75529
20                 Buldhana                 68793
21                 Yavatmal                 65209
22                 Bhandara                 57564
23                    Jalna                 54133
24                   Wardha                 53666
25                Osmanabad                 49724
26                    Akola                 49602
27                 Parbhani                 46942
28                    Dhule                 42285
29                   Gondia                 38687
30                Nandurbar                 37940
31                Ratnagiri                 36036
32                   Washim                 35349
33               Gadchiroli                 26041
34               Sindhudurg                 20163
35                  Hingoli                 16493
36              Other State                   146
37          Mumbai Suburban                     0

In [ ]:
from google.colab import files
df.to_csv(f'wncc_{search_state}.csv') 
files.download(f'wncc_{search_state}.csv')

**EXTRA -**




To collect the complete data such as new cases,total and new cured cases along with active cases, total deaths and no. of deaths on the reported day

In [ ]:
data_full = {f'Districts in {search_state}': a, ' Total Cases Reported': b, 'New cases':new_cases , 'Cured':cured,
                                                                    'New cured cases':new_cured, 'Active':active,'Deaths':deaths,'New death cases':new_deaths }

In [ ]:
df_full = pd.DataFrame(data_full, index = [i for i in range(1,count)])
df_full

   Districts in maharashtra  Total Cases Reported  ... Deaths New death cases
1                      Pune                973685  ...  10376              62
2                    Mumbai                687830  ...  14224              60
3                     Thane                549403  ...   7754              35
4                    Nagpur                478734  ...   6154             104
5                    Nashik                367156  ...   4055              44
6                Ahmednagar                223825  ...   2458              21
7                   Solapur                141128  ...   3348              85
8                Aurangabad                139582  ...   2292              45
9                    Raigad                138999  ...   2451              30
10                   Satara                135971  ...   2577               8
11                  Jalgaon                131968  ...   2215              31
12                  Palghar                107591  ...   1359              27
13                   Sangli                105425  ...   2386              34
14                 Kolhapur                 90164  ...   2161              98
15                   Nanded                 87967  ...   2019              43
16                    Latur                 84988  ...   1494              17
17               Chandrapur                 81062  ...   1078              55
18                 Amravati                 78672  ...   1208              38
19                     Beed                 75529  ...   1408              36
20                 Buldhana                 68793  ...    441               1
21                 Yavatmal                 65209  ...   1201              17
22                 Bhandara                 57564  ...    612               0
23                    Jalna                 54133  ...    842              13
24                   Wardha                 53666  ...    725               6
25                Osmanabad                 49724  ...   1162               4
26                    Akola                 49602  ...    764               1
27                 Parbhani                 46942  ...    778              20
28                    Dhule                 42285  ...    496               0
29                   Gondia                 38687  ...    419               1
30                Nandurbar                 37940  ...    738               9
31                Ratnagiri                 36036  ...    691               0
32                   Washim                 35349  ...    447              12
33               Gadchiroli                 26041  ...    272               6
34               Sindhudurg                 20163  ...    490              10
35                  Hingoli                 16493  ...    273               1
36              Other State                   146  ...    118               0
37          Mumbai Suburban                     0  ...      0               0

[37 rows x 8 columns]

In [ ]:
from google.colab import files
df_full.to_csv(f'wncc_{search_state}_full.csv') 
files.download(f'wncc_{search_state}_full.csv')